/* GRUNDLEGENDES CSS */
body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'nunitoregular', sans-serif;
}

#debug{
    margin-top:50px;
    margin-bottom: 50px;
    min-height:50px;
    min-width: 200px;
}

.hideSome{
    visibility: hidden;
    opacity: 0.0;

    -ms-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

@keyframes expand{
    from {width: 0%; height: 0%; opacity: 0.0;}
    to {width: 100%; height: 100%; opacity: 1.0}
}

.showSome{
    visibility: visible;

    animation: expand;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* ENDE CSS GRUNDLEGENDES*/

/* BEGINN DES CSS GRIDS */
.container{
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 25px;
    grid-template-columns: 1fr;
}

/* HEADER ZEILE */
.header{
    grid-column: 1;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;

    margin: 0;
    padding: 0;

    color: white;

    background-color: #3f76bf;
}

.header .headerTitle{
    padding: 0;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1;
    align-self: center;
    justify-self: start;
    padding-left: 10px;
}

.header .headerButton{
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    padding-right: 10px;
}

.headerButton-icon{
    background-color: rgba(0,0,0,0.0);
    border: none;
    border-radius: 2px;
    padding: 8px;
    margin-left: 6px;
    cursor: pointer;

    color: white;
}

.headerButton-icon:hover{
    background-color: rgba(0,0,0,0.3);
}
/* ENDE CSS HEADER ZEILE */

/* NAVIGATION BAR - INCL CSS ANIMATIONS */
.navigation{
    grid-column: 1;
    grid-row: 2 / 3;
    justify-items: end;
    justify-self: end;

    margin: 0;
    padding: 0;
    z-index: 10;

    background-color: rgba(0,0,0,0.7);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 1fr 50px 50px;
}

@keyframes navBGOut{
    from{background-color: rgba(0,0,0,0.0);}
    to{background-color: rgba(0,0,0,0.7);}
}

@keyframes navBGIn{
    from{background-color: rgba(0,0,0,0.7);}
    to{background-color: rgba(0,0,0,0.0);}
}

.openNavBG{
    animation: navBGOut;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.closeNavBG{
    animation: navBGIn;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.navigationButton-icon{
    background-color: white;
    border: 2px solid;
    border-color: deepskyblue;
    border-radius: 10px;
    cursor: pointer;
    word-break: break-all;

    margin-top: 5px;
}

.navigationButton-icon:hover{
    background-color: rgba(255,255,255,0.8);
}

.navigation #butInsert{
    grid-column: 1;
    grid-row: 1 / 2;
    justify-self: start;
    display: block;

    margin-right: 5px;
    margin-left: 5px;

    width: 0px;
    transition: 0.5s;
}

.navigation #butCreate{
    grid-column: 1;
    grid-row: 2 / 3;
    justify-self: start;
    display: block;

    margin-right: 5px;
    margin-left: 5px;

    width: 0;
    transition: 0.5s;
}

.navigation #butShowUser{
    grid-column: 1;
    grid-row: 3 / 4;
    justify-self: start;
    display: block;

    margin-right: 5px;
    margin-left: 5px;

    width: 0;
    transition: 0.5s;
}

.navigation #butDelLocal{
    grid-column: 1;
    grid-row: 5 / 6;
    justify-self: start;
    display: block;

    margin-right: 5px;
    margin-left: 5px;

    width: 0;
    transition: 0.5s;
}

.navigation #butBackend{
    grid-column: 1;
    grid-row: 6 / 7;

    justify-self: start;
    display: block;

    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;

    width: 0;
    transition: 0.5s;
}

.navigation span{
    font-weight: 600;
}

@keyframes navAniOut{
    from{width:0; opacity: 0;}
    to{width:150px; opacity: 1;}
}

@keyframes navAniIn{
    from{width:150px; opacity: 1;}
    to{width:0; opacity: 0;}
}

.openNav{
    animation: navAniOut;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.closeNav{
    animation: navAniIn;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
/* ENDE CSS NAVIGATION BAR */

/* MAIN ZEILE */
.main{
    grid-column: 1;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0;

    height: 100%;

    background-color: rgba( 229, 234, 234, 0.607 );

    display: grid;
    grid-template-columns: 2% 1fr 2%;
    grid-template-rows: 2% 1fr 2%;
}
/* ENDE CSS MAIN ZEILE */

/* POPUP BEREICH */
/* Mobile Ansicht */
.tooltip_pop{
    color: white;
}

.main > .surveys{
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: rgba(0,0,0,0);
}

.main > .pop{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: rgba(0,0,0,0.9);

    z-index: 9;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 90%;
}

.main > #dynamicPop{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.9);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 90%;
}

.dynamic > .form_dyn{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: center;

    display:grid;
    grid-template-columns: 1fr 90% 1fr;
    grid-auto-rows: 10% 10% 60% 20%;
    grid-row-gap: 5px;

    justify-items: center;
}

#dynamicConfig{
    color: white;
}

#dynamicConfig > h3{
    grid-column: 2 / 3;
}

#dynamicConfig > p{
    grid-column: 2 / 3;
    height: 150px;
    text-align: center;
}

#dynamicConfig > form{
    grid-column: 2 / 3;
    width: 100%;
}

#dynamicConfig > form > input{
    font-size: 18px;
    text-align: center;
    width: 100%;
}

#dynamicConfig >button{
    grid-column: 2 / 3;
    background-color: #3f76bf;
    border: none;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 100px;
}

#dynamicConfig > .resultTable{
    grid-column: 2 / 3;
    color: white;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

#dynamicConfig > .resultTable > .resultQuestDiv{
        grid-column: 1 / 4;
}

#dynamicConfig > .resultTable > .resultHeading{
        justify-self: center;
        align-self: end;

        border-bottom: 2px solid;
}

#dynamicConfig > .resultTable > .resultCell{
        justify-self: center;
        align-self: center;
}

.main > #anwsersPop{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.9);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
}

#anwsersPop > h3{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;

    text-align: center;
    color: white;
}

#anwsersPop > p{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;

    text-align: center;
    color: white;
}

#anwsersPop > .form_popup{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: center;

    color: white;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 5px;

    justify-items: center;
}

#anwsersPop > .form_popup > [type="submit"]{
    cursor:pointer;
}

.main > #impressumPop{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.9);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 90%;
}

#impressumPop > .impressumDiv{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: center;

    display:grid;
    grid-template-columns: 1fr 90% 1fr;
    grid-auto-rows: 5%;
    grid-row-gap: 5px;

    justify-items: center;
}

.impressumDiv > h3,h2,p{
    grid-column: 2 / 3;
    text-align: center;
    color: white;
}

.main > #inclPopup{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.9);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
}

#inclPopup > h3{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;

    text-align: center;
    color: white;
}

#inclPopup > p{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;

    text-align: center;
    color: white;
}

#inclPopup > .form_popup{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: center;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 5px;

    justify-items: center;
}

#inclPopup > .form_popup > [type="submit"]{
    cursor:pointer;
}

.main > #userPop{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.9);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
}

#userPop > h3{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;

    text-align: center;
    color: white;
}

#userPop > p{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;

    text-align: center;
    color: white;
}

#userPop > .form_popup{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: center;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 5px;

    justify-items: center;
}

#userPop > .form_popup > [type="submit"]{
    cursor:pointer;
}

.pop > h3{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;

    text-align: center;
    color: white;
}

.form_popup{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: center;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 5px;

    justify-items: center;
}


.form_popup .feld{
    height: 90%;
    font-size: 13px;
    text-align: center;
    min-width: 200px;
    max-width: 95%;

    border: none;
}

.form_popup > [type="submit"]{
    background-color: #3f76bf;
    color: white;
    height:90%;
}


.pop .exit_but{
    margin: 0;
    padding: 0;
    padding-right: 5px;
    padding-top: 5px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    justify-self: end;

    color: white;
}

.pop .exit_but i{
    cursor: pointer;
}

/* Mobile Ansicht ENDE */

/* Media Query Desktop  */
@media only screen and (min-width: 900px){
.form_popup .feld{
    font-size: 16px;
    text-align: center;
    min-width: 75%;
    max-width: 95%;

    border: none;
}

.form_popup{
    margin: 0;
    padding: 0;
    height: 95%;
    width: 95%;

    grid-column: 1 / 4;
    grid-row: 2 / 3;
    justify-self: center;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;

    justify-items: center;
}

/* Popup - Umfrage erstellen */
.form_popup > [name="question"]{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 90%;
    align-self: center;
    justify-self: end;
}
.form_popup > [name="autor"]{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 90%;
    align-self: center;
    justify-self: center;
}
.form_popup > [name="endDate"]{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 90%;
    align-self: center;
    justify-self: start;
}
.form_popup > [name="anwsers"]{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 90%;
    align-self: center;
    justify-self: center;
}
.form_popup > [name="secure"]{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 90%;
    align-self: center;
    justify-self: start;
}

.form_popup > [name="sub"]{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    height: 90%;
    align-self: center;
    justify-self: center;
}
/* ENDE Popup - Umfrage erstellen */

/* Popup - Umfrage hinzufügen */
.form_popup > [name="autor_I"]{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 90%;
    align-self: center;
    justify-self: end;
}

.form_popup > [name="hash"]{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 90%;
    align-self: center;
    justify-self: start;
}

.form_popup > [name="email_I"]{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 90%;
    align-self: center;
    justify-self: center;
}

.form_popup > [name="sub_I"]{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 90%;
    align-self: center;
    justify-self: center;
}
/* ENDE Popup - Umfrage hinzufügen */

    .box .survey-title > h3{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: start;

    margin: 0;
    padding: 0;

    font-size: 1.5em;
}

}
/* Media Query Desktop ENDE */

/* ENDE POPUP BEREICH */

/* FOOTER ZEILE */
.footer{
    grid-column: 1;
    grid-row: 3 / 4;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    background-color: #3f76bf;
}

.footer .impressum{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    margin: 0;
    margin-left: 10px;

    align-self: center;
    justify-self: start;

    cursor: pointer;
}
/* ENDE CSS FOOTER ZEILE */

/* CSS FÜR DEN LOADER OVERSCREEN */
.loader{
    grid-column: 1;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0;

    background-color: rgba(0,0,0,0.8);
    background-image: url("../images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}
/* ENDE CSS LOADER */

/* CSS FÜR DIE UMFRAGE BOXEN */
.box{
    border: 2px solid;
    border-color: deepskyblue;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
    padding-bottom: 8px;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    min-height: 84px;

    box-shadow: 2px 3px 5px #888888;
}

.box .survey-title{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: start;

    margin: 0;
    padding: 0;

    font-size: 0.8em;
}

.box .survey-author{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: start;

    margin: 0;
    padding: 0;
    margin-top:-5px;

    font-size: 0.9em;
}

.box .survey-date-start{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self:end;

    margin: 0;
    padding: 0;
}

.box .survey-date-end{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;

    margin: 0;
    padding: 0;
}

.box .survey-entry{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;

    margin: 0;
    padding: 0;
    margin-top:14px;
    margin-left: 5px;
}

.box .survey-icons{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;

    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.box .SurveyButton-icon{
    border: 1px solid;
    border-color: deepskyblue;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.0);

    box-shadow: 1px 1px 5px #888888;

    padding: 2px;
    margin-right: 5px;

    cursor: pointer;
}

.box .SurveyButton-icon:hover{
    background-color: rgba(0,0,0,0.1);
}
/* ENDE CSS UMFRAGE BOXEN */
/* ENDE CSS GRID */


/* CSS FLEXBOX HILFE */
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-25px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-25px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-25px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-25px);}
 60% {transform: translateY(-15px);}
}

/* CSS FÜR DEN ARROW */
.helper{
    grid-column: 1;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;

    z-index: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px 1fr;
    align-items: start
}

.helptext{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
    padding: 0;
    margin: 0;
    margin-top: -2px;

    background-color: rgba(0,0,0,0.8);
    border-radius: 10px 0px 0px 10px;
}

    #welcometext{
        text-align: center;
        font-family: 'nunitoregular', sans-serif;

        padding-left: 10px;
        padding-right: 10px;
    }

.arrow {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: end;
  padding: 0;
  margin: 0;
    margin-right: -7px;

  background-image: url("../images/arrow_up_s.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.bounce {
 width: 50px;
 height: 60px ;
 animation: bounce 3s infinite;
 -webkit-animation: bounce 3s infinite;
 -moz-animation: bounce 3s infinite;
 -o-animation: bounce 3s infinite;
}
/* ENDE CSS FLEXBOX*/
